* {
    box-sizing: border-box;
    margin: 0;
}
html{
    max-width: 100%;
    height: auto;
}
body {
    background-color: #1f1f1f;
    font-family: sans-serif;
}
.navbar {
    display: flex;
    padding-top: 1.2rem;
}
.logo {
    padding-left: 14rem;
    margin-right: 12rem;
    padding-top: 1rem;
}
.list-items {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 6rem;
}
.list-items li {
    font-size: 0.9rem;
    padding-top: 1.2rem;
    white-space: nowrap;
    text-decoration: none;
    list-style: none;
    color: #d8d5d5;
}
.contactus-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 10rem;
    position: relative;
}
.contactus-items li {
    display: flex;
    padding-top: 1rem;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.arrow-down {
    margin-left: 0.45rem;
    padding-top: 0.01rem;
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top-color: #d8d5d5;
}
.contactus {
    position: absolute;
    top: 0.2rem;
    right: -2.8rem;
}
/* Main section */
.section-main{
    position: relative;
}
.front-cards {
    margin-left: 45rem;
    height: 600px;
    width: 800px;
    margin-top: -2rem;
}
.back-cards {
    position: absolute;
    top: 0.3rem;
    right: 20rem;
    left: 35rem;
    height: 100%;
}
.heading-primary__one {
    color: #fff;
    padding-left: 14rem;
    position: absolute;
    top: 6rem;
    font-size: 4rem;
    font-weight: 15;
}
.heading-primary__two {
    color: #fff;
    padding-left: 14rem;
    position: absolute;
    top: 12rem;
    font-size: 4rem;
    font-weight: 15;
}
.heading-primary__two span {
    color: purple;
    font-weight: bold;
}
.description {
    color: #bbb9b9;
    font-size: 1.2rem;
    margin-top: -17.5rem;
    padding-left: 14rem;
}
.description span {
    display: block;
    line-height: 2.4rem;
}
.button-pink {
    padding-left: 14rem;
    padding-top: 3rem;
}
.info {
    text-transform: uppercase;
    color: #fff;
    display: inline;
    margin-left: -2rem;
}
.section-records {
    color:#fff;
    padding-left: 14rem;
    display: flex;
}
.section-records__left{
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
}
.section-records__right{
    display: flex;
    gap: 3rem;
}