/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    max-width: 1440px;
    background-color: #000000;
    color: #ffffff;   
    
}
/* logo */
div img{
    height:auto;
    width: 100px;
    position: absolute;
    left: 80px;
    top: 20px;
}
/* navbar  */
nav{
    height: 10vh;
    display: flex;
    gap: 20px;
    align-items: flex-start;   
    justify-content: flex-start; 
}
nav ul{
    display: flex;  
    gap: 50px;
    padding-left: 200px;
    margin-top: 20px;
}

/* navbar list  */
nav ul li{
    list-style-type: none;
    padding-top: 5px;
}
nav ul li:first-child::after{
    content: "  \0002C7";
    /* transform: rotate(90deg); */
    position: relative;
    height: 20px;
    width: 10px;
    top: 5px; 
}
.line{
    border: 1px solid #ffffff;
    position: relative;
    left: 200px;
    height: 50px;
    top: 10px;
}

button{
    background-color: #b01aae;
    border-radius: 5px;
    padding:10px 35px;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    margin-top: -15px;
}
.button-small{
    position: absolute;
    right: 100px;
    top: 30px;
    font-size: 15px;
    font-weight: 500;
}


/* Main or Hero Section  */

/* bg image  */
.hero{
    height: 90vh;
    width: 100vw;
    background-image: url('images/background-image.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    
}
.hero-heading{
    font-size: 65px;
    text-align: center;
}
.hero-heading span {
    display: block;
    font-size: 65px;
    text-align: center;
}
.hero-description{
    font-size: 20px;
   
}
.button-large{
    font-size: 30px;
    font-weight: 500;
    border-radius: 12px;
    margin-top: 30px;
}