.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 48px;
}
.main-section{
    display: flex;
}
.main-section__items {
    justify-content: center;
    align-items: space-between;
    padding: 20px 40px;
}
.main-section__items .first {
    color: black;
    padding-left: 4px;
}
.main-section__items a {
    text-decoration: none;
    color: #b7b5b5;
    align-items: start;
    padding: 10px 20px;
}
.btn {
    margin-left: 480px;
    background-color: #9171b2;
    border: 2px solid #9171b2;
    color: white;
    font-weight: 18px;
    padding: 4px 48px;
    border-radius: 8px;
}
.btn:hover,
.btn:active {
    background-color: #7b6491;
    color: #fff;
    cursor: pointer;
    border: 2px solid #9171b2;
}
.grid-2-column {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
.grid-left-item {
    margin-left: 52px;
}
.grid-left-item h1 span {
    color: #9171b2;
}
.banner__heading {
    font-size: 78px;
    margin-bottom: 32px;
}
.banner__info {
    color: #b7b5b5;
    padding: 12px;
    font-size: 18px;
}
.btn--services {
    margin-left: 12px;
    background-color: #9171b2;
    border: 2px solid #9171b2;
    color: white;
    font-weight: 18px;
    padding: 18px 48px;
    border-radius: 8px;
}